.weather-info {
    margin: 1rem auto;
    width: 28rem;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, aliceblue, white);
}

.location-temp {
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    /* remove height after importing the data */
    border: 2px solid black;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
}

.hourly-forecast {
    margin: 1rem auto;
    width: 26rem;
    height: 6rem;
    /* remove height after importing the data */
    border: 2px solid black;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
}

.weekly-forecast {
    margin: 1rem auto;
    width: 26rem;
    height: 19rem;
    /* remove height after importing the data */
    border: 2px solid black;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
}

.hourly-forecast p, .weekly-forecast p {
    font-size: .7rem;
}

.forecast-title {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 1rem;
}

.forecast-title p {
    text-decoration: underline;
}

.forecast-title img {
    width: .7rem;
    height: .7rem;
    margin-right: .2rem;
}

.back-to-src-btn {
    font-size: .6rem;
    border: none;
    background: none;
    text-align: left;
}